

.container{
    display: flex;
    align-items: center;
    margin-top: 64px;
    justify-content: center;
}

.form_container{
    width: 500px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;        
}


    .paragraph{
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        margin: 0 0 16px;
    }
  
