

.btn{
    background-color: transparent;
    border: 1px solid #F8F8F8;
    padding: 8px 17px;
    color: #F8F8F8;
    border-radius: 8px;

}

@media (max-width: 375px){
   
    .btn{
        display: none;
    }
}