.form{
    display: flex;
    flex-direction: column;
}

.form_item{
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.form_btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    padding: 8px 12px;
    gap: 10px;
    background: #512689;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
}
.form_btn:hover{
    background-color: #7036bb;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin: 10px;
}
.link:hover{
    text-decoration: underline;
}