
.container{
    padding: 50px 0 50px 188px;
    display: flex;
    justify-content: start;
    gap: 10%;
}

.description{
    width: 50%;
}
.contacts{
    display: flex;
    
}
.contactsImg{
    height: 20px;
    width: 20px;
    margin: 18px 10px 0 0 ;
}
.imgEmail{
    height: 15px;
}


.paragraph{
    margin-bottom: 20px;
}


@media(max-width:475px){
    .container{
        flex-direction: column-reverse;
        padding: 16px;
        font-size: 16px;
    }
    .description{
        width: 100%;
        margin-top: 24px;
    }

}